:root {
    --bg-color: #eeeeee; 
    --text-color: #2D3748;
    --btn-card: #2563EB;
    --card-bg: #FFFFFF; 
    --btn-text: #FFFFFF;
    --border-color: #E2E8F0; 
    --input-text:black;
}

:root.dark-mode {
    --bg-color: #111827; 
    --text-color: #F3F4F6; 
    --btn-card: #3B82F6; 
    --card-bg: #4b5e7a; 
    --btn-text: #FFFFFF;
    --border-color: #374151;
    --input-text:white;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: var(--bg-color);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#chatbox {
    width: 60%;
    background-color: var(--card-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    margin-top: 35px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.chatheader {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--btn-card);
    color: var(--btn-text);
    padding: 10px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 1rem;
    transition: background-color 0.5s ease, color 0.5s ease;
}

#messages {
    border: 1px solid #ccc;
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 10px;
}

.message {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.user-message {
    text-align: right;
    background-color: #dcf8c6;
}

.bot-message {
    text-align: left;
    background-color: #e8e8e8;
}

input[type="text"] {
    width: calc(100% - 70px);
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--input-text);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.herramienta{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 2em;
}

button {
    padding: 0.5rem 0.8rem;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--btn-card);
    color: var(--btn-text);
    transition: background-color 0.5s ease, color 0.5s ease;
}